<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>    
    <ul>
        <div class="row">
            {{#each articles}}
            <div class="col-6">
                <div class="container" style="border: 2px solid pink; margin-top: 50px;">
                <li>
                    <h2>{{this.title}}</h2>

                    <p><a href="{{this.url}}">Read more</a></p>
                    <div class="row">
                        <div class="col-6">
                            <img class="w-100" src="{{this.imageUrl}}" alt="{{this.title}}">

                        </div>
                        <div class="col-6">
                            <p>{{this.description}}</p>
                            <p>{{this.publi0shedAt}}</p>
                        </div>
                    </div>
                </li>
            </div>
            </div>
            {{/each}}
        </div>

    </ul>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>